# .htaccess - sugerencias para despliegue en Apache
<IfModule mod_rewrite.c>
    RewriteEngine On
    # Enviar todas las solicitudes a index.php (si fuera necesario)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
